body { background: #7d4a; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 35px; display: flex; }
.block-validator-0 { color: #9236d4; font-size: 14px; margin-bottom: 5px; }
.block-sms-1 { color: #d00801; font-size: 12px; margin-bottom: 5px; }
.block-router-2 { color: #9ef4eb; font-size: 20px; margin-bottom: 5px; }
.block-validator-3 { color: #444394; font-size: 16px; margin-bottom: 5px; }
.block-user-4 { color: #e70016; font-size: 15px; margin-bottom: 5px; }